.bash_history
.cache
.config
.dmrc
.gnupg
.gphoto
.lesshst
.local
.mysql_history
.my.cnf
.pki
.pp_backup
.python_history
.ssh
.vim
.viminfo
.vnc
.wget-hsts
.Xauthority
.xsession-errors
.xsession-errors.old
Desktop
.pyhistory
*.pyc
__pycache__
src/python/pkg/*
